<div class="forgot-title">
    Forgot password
</div>
<div class="forgot-desc">
    Enter your email and we'll send you instructions to reset your password.
</div>
<%= form_tag password_resets_path, :method => :post do %>
    <%= text_field_tag :email, nil, placeholder: "Email" %>
    <%= submit_tag "Reset Password", :class => "green-sm-btn" %>
    <span>
        <%= link_to "Return to login", "#" %>
    </span>
<% end %>