@import 'vars';

/* ABOUT PAGE
   ----------------------------- */

#about-header-bkg {
    height: 400px;
    background-image: url("../about-header-img-darker.png");
    background-position: center;
}

