<%= render 'layouts/profile_header_personal' %>

<div class="content">
    <div id="main">
        <div id="quick-info">
            <div>
                <%= image_tag "white-square.png", :class => "circle" %>
                <i class="fa fa-check verified"></i>
            </div>
            <div>
                <div>
                    <h1><%= @user.name %></h1>
                    <h1 class="nickname">(HubridNoxx)</h1>
                </div>
                <div>
                    <h2>Position 3 for Natus Vincere</h2>
                </div>
                
            </div>
        </div>
        <div id="main-info">
            <div class="main-block">
                <i class="fa fa-lg fa-gamepad clickable"></i>
                <div>
                    <h3>Experience<i class="fa fa-caret-down fa-lg float-r clickable"></i></h3>
                    <div class="exp-chunk">
                        <div class="exp-title">Natus Vincere</div>
                        <span class="exp-time-frame">2011 - 2013</span>
                        <div class="exp-position">Position 3 Player</div>
                        <div class="exp-location">Seattle, WA</div>
                    </div>
                    <div class="exp-chunk">
                        <div class="exp-title">Some other random team</div>
                        <span class="exp-time-frame">2010 - 2011</span>
                        <div class="exp-position">Position 1 Player</div>
                        <div class="exp-location">Redmond, WA</div>
                    </div>
                </div>
            </div>
            <div class="main-block">
                <i class="fa fa-lg fa-star clickable"></i>
                <div>
                    <h3>Recognition<i class="fa fa-caret-down fa-lg float-r clickable"></i></h3>
                </div>
            </div>
            <div class="main-block">
                <i class="fa fa-lg fa-bullhorn clickable"></i>
                <div>
                    <h3>Press<i class="fa fa-caret-down fa-lg float-r clickable"></i></h3>
                </div>
            </div>
            <div class="main-block">
                <i class="fa fa-lg fa-bar-chart-o clickable"></i>
                <div>
                    <h3>Statistics<i class="fa fa-caret-down fa-lg float-r clickable"></i></h3>
                </div>
            </div>
            <div class="main-block">
                <i class="fa fa-lg fa-quote-left clickable"></i>
                <div>
                    <h3>Recommendations<i class="fa fa-caret-down fa-lg float-r clickable"></i></h3>
                </div>
            </div>
        </div>
    </div>
    <%= render 'layouts/profile_sidebar' %>
</div>