<%= render 'layouts/profile_header_personal' %>

<div class="content">
    <div id="main">
        <div id="quick-info">
            <div>
                <%= image_tag "white-square.png", :class => "circle" %>
                <i class="fa fa-check verified"></i>
            </div>
            <div>
                <div>
                    <h1><%= @user.name %></h1>
                    <h1 class="nickname">(HubridNoxx)</h1>
                </div>
                <div>
                    <h2>Position 3 for Natus Vincere</h2>
                </div>
                
            </div>
        </div>
        <div id="main-info">
            <div class="main-block">
                <i class="fa fa-lg fa-gamepad clickable"></i>
                <div>
                    <h3 class="clickable">Experience<i class="fa fa-caret-down fa-lg float-r"></i></h3>
                    <div class="collapsable-block">
                        <div class="main-chunk">
                            <div class="chunk-title">Natus Vincere</div>
                            <span class="chunk-time">2011 - 2013</span>
                            <div class="chunk-info">Position 3 Player</div>
                            <div class="chunk-info">Seattle, WA</div>
                        </div>
                        <div class="main-chunk">
                            <div class="chunk-title">Some other random team</div>
                            <span class="chunk-time">2010 - 2011</span>
                            <div class="chunk-info">Position 1 Player</div>
                            <div class="chunk-info">Redmond, WA</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-block">
                <i class="fa fa-lg fa-star clickable"></i>
                <div>
                    <h3 class="clickable">Recognition<i class="fa fa-caret-down fa-lg float-r"></i></h3>
                    <div class="collapsable-block">
                        <div class="main-chunk">
                            <div class="chunk-title">1st Place</div>
                            <span class="chunk-time">2013</span>
                            <div class="chunk-info">The International 3</div>
                            <div class="chunk-info">Seattle, WA</div>
                            <div class="chunk-info">Natus Vincere</div>
                            <div class="chunk-sub-info"><i class="fa fa-caret-right"></i>Played 2 and 3</div>
                        </div>
                        <div class="main-chunk">
                            <div class="chunk-title">Semifinals</div>
                            <span class="chunk-time">2011</span>
                            <div class="chunk-info">Rando Tourney</div>
                            <div class="chunk-info">Bellevue, WA</div>
                            <div class="chunk-info">Natus Vincere</div>
                            <div class="chunk-sub-info"><i class="fa fa-caret-right"></i>Played 2 and 3</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-block">
                <i class="fa fa-lg fa-bullhorn clickable"></i>
                <div>
                    <h3 class="clickable">Press<i class="fa fa-caret-down fa-lg float-r"></i></h3>
                    <div class="collapsable-block">
                        <div class="main-chunk">
                            <div class="chunk-title"><a href="">Navi Strikes Again</a></div>
                            <span class="chunk-time">2014</span>
                            <div class="chunk-info">http://huffingtonpost.com</div>
                            <div class="chunk-sub-info chunk-quote italic">
                                <i class="fa fa-quote-left"></i>
                                <blockquote>This is an incredible quote from the article</blockquote></div>
                        </div>
                        <div class="main-chunk">
                            <div class="chunk-title"><a href="">Navi Strikes Again</a></div>
                            <span class="chunk-time">2014</span>
                            <div class="chunk-info">http://huffingtonpost.com</div>
                            <div class="chunk-sub-info chunk-quote italic">
                                <i class="fa fa-quote-left"></i>
                                <blockquote>This is an incredible quote from the article</blockquote></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-block">
                <i class="fa fa-lg fa-bar-chart-o clickable"></i>
                <div>
                    <h3 class="clickable">Statistics<i class="fa fa-caret-down fa-lg float-r"></i></h3>
                </div>
            </div>
            <div class="main-block">
                <i class="fa fa-lg fa-quote-left clickable"></i>
                <div>
                    <h3 class="clickable">Recommendations<i class="fa fa-caret-down fa-lg float-r"></i></h3>
                </div>
            </div>
        </div>
    </div>
    <%= render 'layouts/profile_sidebar' %>
</div>