<% content_for :about_header do %>
    <div id="about-header-bkg">
        <div>
            <span>We <i class="fa fa-heart"></i> esports.</span>
        </div>
    </div>
<% end %>

<div class="content">
    
</div>