<% content_for :contact_header do %>
    <div id="contact-header-bkg" class="sub-header">
        <div>
            <span>Contact</span>
        </div>
    </div>
<% end %>

<div class="content">
    
</div>