<% content_for :contact_header do %>
    <div id="contact-header-bkg">
        <div class="sub-header">
            <span>Contact</span>
        </div>
    </div>
<% end %>

<div class="content">
    
</div>