<% content_for :privacy_header do %>
    <div id="privacy-header-bkg" class="sub-header">
        <div>
            <span class="header-desc">Legal</span>
            <span class="header-title">Privacy</span>
        </div>
    </div>
<% end %>