<% content_for :team_header do %>
    <div id="team-header-bkg" class="sub-header">
        <div>
            <span class="header-desc">Meet the people behind the scenes</span>
            <span class="header-title">Team</span>
        </div>
    </div>
<% end %>

<div class="content">
    <div class="team-member">
        <div class="member-picture">
            <%= image_tag("white-square.png") %>
        </div>
        <div class="member-info">
            <h1 class="member-name">Zack Elliott</h1>
            <h2 class="member-title">Co-Founder / Lead Front End Dev</h2>
            <p class="member-story">Zack is a student at The Wharton School at the University of Pennsylvania, where he is studying Economics and Computer Science.  He first came up with the idea of GGDeck while (jokingly) wishing he could put his eSports MMR on his LinkedIn account.  He hopes GGDeck will help connect rising players to new teams and foster growth in the esports scene.</p>
            <div class="member-links">
                <a href="http://www.linkedin.com/in/zackelliott/"><i class="fa fa-linkedin"></i></a>
                <a href="http://github.com/HubridNoxx"><i class="fa fa-github"></i></a>
                <a href="http://stackoverflow.com/users/831938/hubrid"><i class="fa fa-stack-exchange"></i></a>
            </div>
        </div>
    </div>
    
    <div class="team-member">
        <div class="member-picture">
            <%= image_tag("white-square.png") %>
        </div>
        <div class="member-info">
            <h1 class="member-name">Gaurav Jhaveri</h1>
            <h2 class="member-title">Co-Founder / Lead Back End Dev</h2>
            <p class="member-story">Gaurav is currently an undergraduate studying Computer Science at the Vidyalankar Institute of Technology. He's very passionate about eSports and sees it as a viable career choice. Working on GGDeck allows him to combine his love of programming and eSports into a single project.</p>
            <div class="member-links">
                <a href="http://www.linkedin.com/in/gauravjhaveri"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Mutinix"><i class="fa fa-github"></i></a>
                <a href="https://twitter.com/gaurav_jhaveri"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>