<% content_for :terms_header do %>
    <div id="terms-header-bkg" class="sub-header">
        <div>
            <span class="header-desc">Legal</span>
            <span class="header-title">Terms</span>
        </div>
    </div>
<% end %>