@import 'vars';
@import 'mixins';

/* AUTH
   ----------------------------- */

#auth {
    display: none;
    background-color: #fff;
    height: 276;
    left: 50%;
    margin: 120px 0 0 -200px;
    position: fixed;
    width: 400px;
    z-index: 10000;
    @include border-radius(10px);
    overflow: hidden;
    .warning-box {
        line-height: 60px;
        height: 60px;
        width: 400px;
        text-align: center;
    }
    #auth-logo {
        padding: 30px 0 10px 0;
        text-align: center;
        background-color: #fff;
    }
    #auth-form {
        input[type=text], input[type=password] {
            @include input(10px, 360px, #eee, #999, #ddd);
            margin: 20px 20px 0 20px;
        }

        #auth-remember-section {
            float: left;
            color: #999;
            width: 160px;
            height: 60px;
            line-height: 60px;
            font-size: 18px;
            text-align: center;
            margin: 20px;
            input[type=checkbox] {
                display: none;
            }
            i.fa-square-o {
                margin-right: 13px;
            }
            i.fa-check-square-o {
                margin-right: 12px;
            }
        }

        input[type=submit] {
            width: 160px;
            height: 60px;
            font-size: 18px;
            margin: 20px;
        }
        span {
            width: 400px;
            float: left;
            text-align: center;
            color: #999;
            margin: 10px 0 30px 0;
            a {
                padding-bottom: 3px;
                margin: 0 30px;
                border-bottom: 1px solid #999;
            }
        }
    }
}