@import 'vars';
@import 'mixins';

/* PASSWORD RESETS
   ----------------------------- */

.sm-app {
    .forgot-title {
        font-size: 24px;
        font-weight: 600;
        color: #666;
    }  
    .forgot-desc {
        color: #999;
        font-weight: 400;
        margin: 10px 0 20px 0;
    }
    input[type=text], input[type=password] {
        @include input(10px, 400px, #eee, #999, #ddd);
        margin-bottom: 20px;
    }
    input[type=submit] {
        height: 60px;
        font-size: 18px;
    }
    .update-pass-btn {
        width: 200px;
    }
    .reset-pass-btn {
        width: 180px;
    }
    span {
        float: right;
        color: #999;
        line-height: 60px;
        width: 220px;
        text-align: center;
        a {
            padding-bottom: 3px;
            border-bottom: 1px solid #999;
        }
    }
    .warning-box {
        margin-bottom: 20px;
    }
}