@import 'vars';
@import 'mixins';

/* TALL HEADER
   ----------------------------- */

#tall-header-bkg {
    background-color: $header-bkg;
    height: $tall-header-height;
    width: 100%;
}

/* SIGNUP CONTENT
   ----------------------------- */

#signup-content {
    float: left;
    margin: -280px 0 60px 0;
    width: $container-width;
    #signup-steps {
        float: left;
        margin-top: 280px + 60;
        ul {
            li {
                color: #666;
                margin: 10px 0;
                padding-left: 10px;
            }
            .active-step {
                color: #fff;
                border-left: 5px solid $blue;
            }
        }
    }
    #signup-frame {
        margin: 0 auto;
        width: 600px;
        #signup-banner {
            text-align: center;
            margin-bottom: 60px;
            #banner-logo {
                width: 120px;
                margin: 0 240px;
            }
            #banner-motto {
                color: $red;
                font-size: 30px;
                margin: 20px 0 0 0;
            }
        }
        div {
            .warning-box {
                div {
                    padding: 0 20px 20px 20px;
                }
                div:first-child {
                    padding-top: 20px;
                }
            }
            input[type=text], input[type=password] {
                @include flat-input(17px, 600px, #eee, #999, 0px, 0px, 1px, 0px);
            }
            input[type=submit] {
                @include flat-btn($green, #fff, 75px, 600px)
            }
            #form-note {
                width: inherit;
                color: #666;
                margin-top: 30px;
                text-align: center;
                a {
                    padding-bottom: 3px;
                    border-bottom: 1px solid #666;
                }
            }
        }
    }
}