@import 'vars';

/* ABOUT PAGE
   ----------------------------- */

#about-header-bkg {
    background-image: url("about-header-img.png");
    background-position: center;
    height: 400px;
    .sub-header {
        position: relative;
            span {
                font-size: 80px;
                font-weight: bold;
                color: #ffffff;
                position: absolute;
                bottom: 60px;
                text-shadow: 5px 3px 0px rgba(0,0,0,1);
            }
    }
}

