@import 'vars';

/* AUTH
   ----------------------------- */

#auth {
    display: none;
    position: fixed;
    z-index: 100;
    width: 400px;
    height: 276;
    background-color: #fff;
    margin: 120px 0 0 -200px;
    left: 50%;
    #auth-logo {
        text-align: center;
        padding: 30px 0;
        border-bottom: 1px solid $light-gray-bdr;
    }
    #auth-form {
        input[type=text], input[type=password] {
            height: 40px;
            padding: 10px 20px;
            width: 360px;
            border-bottom: 1px solid $light-gray-bdr;
            background-color: #eee;
            font-size: 18px;
            color: #999;
        }
        input[type=submit] {
            width: 400px;
            text-align: center;
            height: 60px;
            font-size: 18px;
            background-color: $green;
            color: #fff;
            font-weight: bold;
        }
    }
}