@import 'vars';
@import 'mixins';

/* AUTH
   ----------------------------- */

#auth {
    background-color: #fff;
    display: none;
    height: 276;
    left: 50%;
    margin: 120px 0 0 -200px;
    position: fixed;
    width: 400px;
    z-index: 10000;
    #auth-logo {
        border-bottom: 1px solid $light-gray-bdr;
        padding: 30px 0;
        text-align: center;
    }
    #auth-form {
        input[type=text], input[type=password] {
            @include minimal-input(10px, 400px, #eee, #999, 0px, 0px, 1px, 0px);
        }
        input[type=submit] {
            @include minimal-btn($green, #fff, 60px, 400px);
        }
    }
}