@import '_vars';

/* FOOTER
   ----------------------------- */

#footer-bkg {
    background-color: $footer-bkg;
    width: 100%;
    position: relative;
    height: $footer-height; /* without padding... it would actually be $footer-height - (30 + 30) */
    padding: 30px 0;
    clear: both;
}

footer {
    clear: both;
    div {
        width: 240px;
        float: left;
        h4 {
            margin: 0 0 20px 0;
        }
        ul {
            li {
                margin: 0 0 4px 0;
                a {
                    color: #999;
                    font-size: 14px;
                }
            }
        }
        p {
            color: #999;
            font-size: 14px;
            line-height: 18px;
            padding: 10px 60px 0 0;
        }
    }
}