@import '_vars';
@import '_mixins';

/* GLOBAL ELEMENT STYLIZATIONS
   ----------------------------- */

input, textarea {
    margin: 0;
    font-family: $font-stack;
    box-shadow: none;
    border: none;
    font-size: 15px;
    background-color: transparent;
}

input:focus, textarea:focus {
    outline: none;
}

input[type=button], input[type=image], input[type=submit] {
    cursor: pointer;
}

label {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

b {
    font-weight: bold;
}

h1 {
    font-size: 30px;
    font-weight: 600;
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: 400;
    
}

/* Profile main section headers */

h3 {
    color: #999;
    background-color: #eee;
    border-top: $light-gray-bdr;
    border-bottom: $light-gray-bdr;
    width: 608px;  // Take 620 and subtract 12px of padding
    padding: 12px 0 12px 12px;
    margin-bottom: 12px;
}

/* Footer section headers */
h4 {
    color: #666;
}

/* Profile sidebar section headers */

h5 {
    color: #666;
    padding: 5px 0 20px 0;
    border-top: 3px solid #666;
}

h6 {
    color: #bbb;
}

/* GLOBAL CLASS STYLIZATIONS
   ----------------------------- */

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.circle {
    @include border-radius(500px);
}

.clickable {
    cursor: pointer;
}

.pointable {
    cursor: default;
}

.strikethrough {
    text-decoration: line-through;
}

/* GLOBAL SELECTOR STYLIZATIONS
   ----------------------------- */

/*
::-moz-selection {
    background: #FF5246; 
    color: #fff; 
    text-shadow: none;
}
::selection {
    background: #FF5246;
    color: #fff;
    text-shadow: none;
}
*/

/* GLOBAL FRAMEWORK
   ----------------------------- */

html, body, #blur-wrapper {
    height: 100%;
}

body {
    font: 15px $font-stack;
    background-color: $bkg;
    color: #fff;
}

.blurred {
    @include filter(blur(2px));
}

#darken-blur-wrapper {    
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: fixed;
    display: none;
}

#wrapper {
    margin: 0 auto -196px auto;
    min-height: 100%;
    height: auto;
}

#container {
    margin: 0 auto;
    width: $container-width;
}

.content {
    float: left;
    margin: 60px 0;
}

header, footer, #about-header-bkg > div {
    @extend #container;
    height: inherit;
}