@import 'vars';

/* GLOBAL RESET
   ----------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GLOBAL STYLIZATIONS
   ----------------------------- */

input, textarea {
    font-family: $font-stack;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border: none;
}

input:focus, textarea:focus {
    outline: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 30px;
}

h4 {
    font-size: 15px;
    font-weight: bold;
    color: #666;
}

/* GLOBAL FRAMEWORK
   ----------------------------- */

body {
    font: 15px $font-stack;
    background-color: $bkg;
}

#header-bkg {
    background-color: $header-bkg;
    width: 100%;
    height: $header-height;
}

#container {
    margin: 0 auto;
    width: 960px;
}

#content {
    height: 600px;
}

header {
    @extend #container;
    height: inherit;
}