@import 'vars';
@import 'mixins';

/* HEADER
   ----------------------------- */

#header-bkg {
    background-color: $header-bkg;
    width: 100%;
    height: $header-height;
}

#logo {
    float: left;
    margin-top: 15px;
}

#header-search {
    float: left;
    height: inherit;
    #search {
        margin-left: 60px;
        height: 40px;
        @include flat-input(10px, 400px, #eee, #999, 0px, 1px, 0px, 1px);
    }
}

#header-right-nav {
    float: right;
    height: inherit;
    ul#header-nav-menu {
        @extend #header-right-nav;
        li {
            @extend #header-right-nav;
            vertical-align: middle;
            text-align: right;
            line-height: $header-height;
            color: #333;
            font-weight: 600;
            font-size: 15px;
            i {
                margin-left: 213px;
            }
            ul#header-dropdown-menu {
                display: none;
            }
        }
    }
}