/* GLOBAL MIXINS
   ----------------------------- */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($box-shadow) {
    -webkit-box-shadow: $box-shadow;
       -moz-box-shadow: $box-shadow;
            box-shadow: $box-shadow;
}

@mixin filter($filter-value) {
    -webkit-filter: $filter-value; /*To blur: blur(blur_amount);*/
       -moz-filter: $filter-value;
        -ms-filter: $filter-value;
         -o-filter: $filter-value;
            filter: $filter-value;
}

@mixin btn($btn-pad, $btn-background-color, $btn-bdr-color, $btn-font-color, $font-size) {
    padding: $btn-pad;
    background-color: $btn-background-color;
    border-bottom: 4px solid $btn-bdr-color;
    color: $btn-font-color;
    font-size: $font-size;
    font-weight: 600;
    @include border-radius(10px);
}

@mixin minimal-btn($btn-background-color, $btn-font-color, $btn-height, $btn-width) {
    background-color: $btn-background-color;
    color: $btn-font-color;
    font-size: 18px;
    font-weight: 600;
    height: $btn-height;
    width: $btn-width;
    text-align: center;
}

@mixin minimal-input($input-top-pad, $input-width, $input-background-color, $input-font-color, $bdr-top, $bdr-right, $bdr-bottom, $bdr-left) {
    height: 40px;
    padding: $input-top-pad 20px;
    width: $input-width - 40;
    border: 1px solid $light-gray-bdr;
    border-top-width: $bdr-top;
    border-right-width: $bdr-right;
    border-bottom-width: $bdr-bottom;
    border-left-width: $bdr-left;
    background-color: $input-background-color;
    font-size: 18px;
    color: $input-font-color;
}