@import 'vars';
@import 'mixins';

/* PLAYER PROFILE HEADER (IF LOGGED IN)
   ----------------------------- */

#profile-header-bkg {
    background-color: #333;
    border-bottom: 1px solid #111;
    background-position: center;
    height: 60px;
    .sub-header {
        position: relative;
            span {
                font-size: 16px;
                color: #999;
                position: absolute;
                bottom: 19px;
                i {
                    margin-right: 12px;
                }
            }
    }
}

/* PLAYER PROFILE CONTENT
   ----------------------------- */

#main {
    float: left;
    width: $profile-width;
    margin-right: 30px;
    #quick-info {
        float: left;
        width: inherit;
        height: $top-profile-height;
        color: #fff;
        > div {
            float: left;
            > div {
                margin: 0 0 5px 30px;
                h1 {
                    display: inline-table;
                }
                .verified {
                    display: inline-table;
                    margin: -6px 0 0 20px;
                    padding: 5px 10px;
                    background-color: $blue;
                    font-weight: 600;
                    @include border-radius(20px);
                    font-size: 14px;
                }
                h2 {
                    color: #999;
                }
                .status {
                    /* No team flag or icon yet */
                }
            }
        } 
    }
    #main-info {
        float: left;
        width: inherit;
        margin: 60px 0 0 0;
        .main-block {
            width: inherit;
            background-color: #fff;
            min-height: 300px;
            i:not(.float-r) {
                margin-right: 12px;
            }
            i.fa-caret-down {  // I think it looks better 2px down and slightly faded
                padding: 2px 12px;
                color: #ccc;
            }
            div {
                display: inline-table;
                position: relative;
                width: ($profile-width - 1) / 2; // If I don't subtract 1, Safari doesn't fit stuff in the margins
                ul {
                    li {
                        padding: 12px;
                        background-color: #f7f7f7;
                        b {
                            color: #333;
                        }
                        span {
                            color: #333;
                            float: right;
                        }
                    }
                }
                p {
                    color: #666;
                    padding: 12px;
                    font-style: italic;
                }
            }
            .main-block-left {
                border-right: 1px solid $light-gray-bdr;
            }
            .main-block-right {
                margin-top: -3px;
                margin-left: -5px;
            }
        }
        .main-block:first-child h3 {
            border-top: none;
        }
    }
}

#sidebar {    
    float: left;
    width: $sidebar-width;
    color: #fff;
    #connect-region {
        width: inherit;
        height: $top-profile-height;
        #follow-region {
            > div {
                float: left;
                margin-right: 16px;
                i {
                    margin-right: 12px;
                }
            }
        }
        #contact-region {
            > div {
                float: left;
                i {
                    margin-right: 12px;
                }
            }
        }
    }
    #sidebar-info {
        margin-top: 60px;
        width: inherit;
        .sidebar-block {
            display: block;
            margin-bottom: 30px;
            h5 {
                float: left;
                width: 100%;
            }
        }
        #permalink {
            float: left;
            @include border-radius(5px);
            overflow: hidden;
            input[type=text] {
                float: left;
                background-color: #111;
                padding: 10px;
                width: $sidebar-width - (37 + 20);
                color: #666;
            }
            i {
                float: left;
                padding: 13px 11px 12px 11px;
                background-color: #111;
                color: #999;
            }
        }
        #related-players {
            float: left;
            ul {
                float: left;
                li {
                    float: left;
                    width: $sidebar-width;
                    margin: 0 0 20px 0;
                    img, a, small {
                        float: left;
                    }
                    img {
                        margin: 0 10px 0 0;
                    }
                    a {
                        width: 210px;
                        line-height: 20px;
                        color: #999;
                    }
                    small {
                        width: 210px;
                        line-height: 20px;
                        color: #666;
                    }
                }
            }
        }
    }
}