@import '_vars';
@import '_mixins';

/* PLAYER PROFILE HEADER (IF LOGGED IN)
   ----------------------------- */

#profile-header-bkg {
    background-color: #333;
    border-bottom: 1px solid #111;
    height: 60px;
    > div {
        position: relative;
        height: inherit;
        width: $container-width;
        margin: 0 auto;
            span {
                font-size: 16px;
                color: #999;
                position: absolute;
                bottom: 19px;
                i {
                    margin-right: 12px;
                }
            }
    }
}

/* PLAYER PROFILE CONTENT
   ----------------------------- */

#main {
    float: left;
    width: $profile-width;
    margin-right: 30px;
    #quick-info {
        float: left;
        width: inherit;
        height: $top-profile-height;
        color: #fff;
        > div {
            float: left;
            .verified {
                z-index: 10;
                position: absolute;
                margin: -40px 0 0 85px; // Eyeballed in order to move it w/ respect to margins
                padding: 10px 10px;
                background-color: $blue;
                font-weight: 600;
                @include border-radius(20px);
                font-size: 14px;
            }
            > div {
                margin: 0 0 5px 30px;
                h1 {
                    display: inline-table;
                    margin-right: 10px;
                }
                .nickname {
                    color: #ccc;
                    font-weight: 400;
                }
                h2 {
                    color: #999;
                }
            }
        } 
    }
    #main-info {
        float: left;
        width: inherit;
        margin: 60px 0 0 0;
        .main-block {
            width: inherit;
            height: 300px;
            > i {
                width: 50px;
                float: left;
                display: block;
                color: #999;
                line-height: 45px;
                font-size: 24px;
            }
            > div {
                color: #333;
                width: 620px;
                float: left;
                background-color: #fff;
                height: inherit;
                i.fa-caret-down {  // I think it looks better 2px down and slightly faded
                    padding: 2px 12px;
                    color: #ccc;
                }
                .main-chunk {
                    padding: 0 12px;
                    margin-bottom: 12px;
                    .chunk-title {
                        font-weight: 600;
                        font-size: 16px;
                        display: inline;
                        margin-bottom: 5px;
                    }
                    .chunk-time {
                        float: right;
                        color: #999;
                    }
                    .chunk-sub-info {
                        margin: 5px 0 0 12px;
                        color: #999;
                        i {
                            color: #bbb; // Also looks better slightly faded
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
        .main-block:first-child h3 {
            border-top: none;
        }
    }
}

#sidebar {    
    float: left;
    width: $sidebar-width;
    color: #fff;
    #connect-region {
        width: inherit;
        height: $top-profile-height;
        #follow-region {
            > div {
                float: left;
                margin-right: 16px;
                i {
                    margin-right: 12px;
                }
            }
        }
        #contact-region {
            > div {
                float: left;
                i {
                    margin-right: 12px;
                }
            }
        }
    }
    #sidebar-info {
        margin-top: 60px;
        width: inherit;
        .sidebar-block {
            display: block;
            float: left;
            width: inherit;
            margin-bottom: 30px;
            h5 {
                float: left;
                width: 100%;
            }
            ul {
                float: left;
                li {
                    float: left;
                    width: 100%;
                }
                li:last-child {
                    margin-bottom: 0px !important;
                }
            }
        }
        #permalink {
            @include border-radius(5px);
            overflow: hidden;
            input[type=text] {
                float: left;
                background-color: #111;
                padding: 10px;
                width: $sidebar-width - (37 + 20);
                color: #666;
            }
            i {
                float: left;
                padding: 13px 11px 12px 11px;
                background-color: #111;
                color: #999;
            }
        }
        #quick-info {
            ul {
                li {
                    margin-bottom: 10px;
                    color: #999;
                    span {
                        float: right;
                        color: #ccc;
                    }
                }
            }
        }
        #social-links {
            ul {
                li {
                    margin-bottom: 10px;
                    color: #999;
                    a {
                        color: #ccc;
                        float: right;
                    }
                }
            }
        }
        #related-players {
            ul {
                li {
                    margin: 0 0 20px 0;
                    img, a, small {
                        float: left;
                    }
                    img {
                        margin: 0 10px 0 0;
                    }
                    a {
                        width: 210px;
                        line-height: 20px;
                        color: #999;
                    }
                    small {
                        width: 210px;
                        line-height: 20px;
                        color: #666;
                    }
                }
            }
        }
    }
}