/* GLOBAL VARIABLES
   ----------------------------- */

$font-stack: Helvetica Neue, Helvetica, sans-serif;
$container-width: 960px;
$header-height: 60px;
$profile-width: 670px;
$sidebar-width: $container-width - $profile-width - 30;
$top-profile-height: 120px;

/* PREDEFINED COLORS */
$dark-red: #C23146;
$red: #FF3146;
$orange: #FF5246;
$orange-yellow: #FF9046;
$green: #00C4A5;
$blue:  #00C9E6;
$purple: #9841FF;

/* COLORS */
$bkg: #111;
$header-bkg: #fff;
$light-gray-bdr: #ddd;