/* GLOBAL VARIABLES
   ----------------------------- */

$font-stack: Avenir Next, Helvetica Neue, Helvetica, sans-serif;
$container-width: 960px;
$header-height: 60px;
$tall-header-height: 400px;
$profile-width: 670px;
$sidebar-width: $container-width - $profile-width - 30;
$top-profile-height: 120px;
$footer-height: 136px;

/* PREDEFINED COLORS */
$dark-red: #C23146;
$red: #FF3146;
$orange: #FF5246;
$orange-yellow: #FF9046;
$green: #00C4A5;
$dark-green: #00917c;
$blue:  #00C9E6;
$purple: #9841FF;

/* COLORS */
$bkg: #222;
$header-bkg: #fff;
$footer-bkg: #111;
$light-gray-bdr: #ddd;