/* GLOBAL VARIABLES
   ----------------------------- */

$font-stack: Avenir Next, Helvetica Neue, Helvetica, sans-serif;
$container-width: 960px;
$header-height: 60px;
$dropdown-header-height: 180px;
$tall-header-height: 400px;
$profile-width: 670px; /* 700 - 30 (for padding) */
$sidebar-width: 260px; /* $container-width - $profile width - 30 (for padding) */
$top-profile-height: 120px;
$footer-height: 136px;

/* PREDEFINED COLORS */
$dark-red: #C23146;
$red: #FF3146;
$orange: #FF5246;
$orange-yellow: #FF9046;
$green: #00C4A5;
$dark-green: #00917c;
$blue:  #00C9E6;
$purple: #9841FF;

/* COLORS */
$bkg: #222;
$header-bkg: #fff;
$dropdown-header-bkg: #eee;
$footer-bkg: #111;
$light-gray-bdr: 1px solid #ddd;
$medium-gray-bdr: 1px solid #999;