<header>
    <%= link_to image_tag("gg-logo.png"), "#", :id => "logo" %>
    <div id="header-search">
        <%= text_field_tag :search, params[:search], :placeholder => "Search for anything" %>
    </div>
    <nav id="header-right-nav">
        <ul id="header-nav-menu">
        <% if signed_in? %>
            <li class="clickable toggle-dropdown-header">
                Zack<i id="dropdown-header-arrow" class="fa fa-caret-down"></i>
            </li>
        <% else %>
            <li id="signin" class="clickable" onclick="showSignIn();">Sign in</li>
            <%  if flash[:error] %>
                <%= javascript_tag do %>
                    showSignIn();
                <% end %>
            <% end %>
        <% end %>
        </ul>
    </nav>
</header>
