<div id="sidebar">
        <div id="connect-region">
            <div id="follow-region">
                <div id="follow-btn" class="clickable">
                    <i class="fa fa-eye"></i>Follow
                </div>
            </div>
            <div id="contact-region">
                <div id="contact-btn" class="clickable">
                    <i class="fa fa-envelope"></i>Message
                </div>
            </div>
        </div>
        <div id="sidebar-info">
            <div id="permalink" class="sidebar-block">
                <input type="text" readonly="readonly" value="http://ggdeck.com/u/zackelliott" />
                <i class="fa fa-copy clickable"></i>
            </div>
            <div id="related-players" class="sidebar-block">
                <h5>Related Players</h5>
                <ul>
                    <li>
                        <%= image_tag "small-white-square.png", :class => "circle" %>
                        <%= link_to "Zack Elliott", "#" %>
                        <small>Status of player</small>
                    </li>
                    <li>
                        <%= image_tag "small-white-square.png", :class => "circle" %>
                        <%= link_to "Hubrid Noxx", "#" %>
                        <small>Status of player</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>