<% content_for :profile_header do %>
    <div id="profile-header-bkg">
        <div class="sub-header">
            <span><i class="fa fa-pencil"></i>Edit your profile</span>
        </div>
    </div>
<% end %>